
.menu_option {
  background-color: var(--bg-light);
  color: var(--primary-color-light);
  border: 1px solid #3A3B3C;
  padding: 12px;
  margin: 6px 0;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none !important;

  img {
    opacity: .7;
  }

  p {
    flex-grow: 1;
    text-align: left;
    padding: 0 1em;
  }

  &:hover {
    background-color: rgba(var(--bg-light-1));
    color: var(--primary-color) !important;
    img {
      opacity: 1;
    }
  }
}
