
.menu_option {
  background-color: var(--bg-light) !important;
  color: var(--primary) !important;
  border: 1px solid #3A3B3C;
  padding: 12px;
  margin: 2px 0;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;

  p {
    flex-grow: 1;
    text-align: left;
    padding: 0 1em;
  }

  &:hover {
    background-color: #3A3B3C !important;
  }
}
